<% include partials/header %>
<body id="home">
	<h1 class="logo">doctype.io</h1>
	<h2>The 5 best front-end links, everyday.</h2>
	<div class="container">
	<%if (posts.length > 0) { %>
		<% for(var i=0; i<posts.length; i++) {%>
			<div class="item">
				<div class="number"><%= i+1 %></div>
				<div class="article">
					<h3 class="title"><a href="<%= posts[i].link %>"><%= posts[i].title %></a></h3>
					<p class="descr"><%= posts[i].description %></p>
				</div>
			</div>
		<% } %>
	<% } else{ %>
		<h1>No links yet for today</h1>
	<% } %>
	<div class="email">
		<h3>Get doctype.io in your mailbox</h3>
		<%if (typeof success == 'undefined') { %>
			<form action="#" method="POST">
				<input type="email" name="email" placeholder="hello@doctype.io"><input type="submit" value="Add to mailist">
			</form>
			<% if (typeof error != 'undefined') { %>
				<p class="error-message">Your email is wrong. Try again.</p>
			<% } %>
		<% } else { %>
			<p>You have been added to the mailing list</p>
		<% } %>
	</div>
	</div>
	<footer> Made with ♥ by <a href="http://louisamiot.com">Louis Amiot</a></footer>
<% include partials/footer %>